.big-button {
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  border-width: 0.2rem;
  background-color: transparent;
  font-weight: 600;
  transition: 500ms;
  color: white;
}

.big-button--primary {
  border-color: green;
}

.big-button--primary:hover {
  background-color: green;
  border-width: 0;
  font-size: large;
}

.big-button--secondary {
  border-color: #944a4a;
}

.big-button--secondary:hover {
  background-color: #944a4a;
  border-width: 0;
  font-size: large;
}
